{% extends "base.html" %}

{% block content %}
<h1>DETAIL PAGE</h1>

<h2>{{movie.title}}</h2>
<h5>{{movie.description}}</h5>


<hr>


<a href="{% url "movies:update" movie.pk %}">
  <button type="button" class="btn btn-secondary">UPDATE</button>
</a>



<a href="{% url "movies:delete" movie.pk %}">
  <button type="button" class="btn btn-danger">DELETE</button>
</a>
<hr>

<a href="{% url "movies:index" %}">
  <button type="button" class="btn btn-primary">BACK</button>
</a>
{% endblock content %}
