<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %}
  print(f"{picked}메뉴는 {(len)picked}글자 입니다.) 
  {% endcomment %}
  <p>{{picked}}메뉴는 {{picked|length}}글자 입니다.</p>
  
  <h2>메뉴판</h2>

  <ul>
    {% comment %} 
    for food in foods:
        print(food)
    sys.exit()
    {% endcomment %}
    {% for food in foods %}
      <li>{{ food }}</li>
    {% endfor %}
  </ul>
  {% comment %} 
  if len(foods) ==0:
      print("메뉴가 소진되었습니다.")
  else :
      print("아직 메뉴가 남았습니다.")
  sys.exit()
  {% endcomment %}
  {% if foods|length == 0 %}
    <p>메뉴가 소진되었습니다.</p>
  {% else %}
    <p>아직 메뉴가 남았습니다.</p>
  {% endif %}

  
</body>
</html>