{% extends "base.html" %}

{% block content %}
<h1>INDEX PAGE</h1>
<hr>
{% if request.user.is_authenticated %}
  <h2>반갑다. {{user}}.</h2>
  <form action="{% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit"value="[LOGOUT]">
  </form>
  <button><a href="{% url "accounts:update" %}">회원정보수정</a></button>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="회원탈퇴">
  </form>
  <a href="{% url "articles:create" %}">CREATE</a>
  
{% else %}
  
  <a href="{% url "accounts:login" %}">[LOGIN]</a>
  <button><a href="{% url "accounts:signup" %}">회원가입</a></button>

{% endif %}

  
  
    <form action="{% url "articles:index" %}"> 
      <input type="hidden" name="is_hidden" value="False">
      <input type="submit" value="비공개 글 숨기기">
    </form>
    <form action="{% url "articles:index" %}"> 
      <input type="hidden" name="is_hidden" value="True">
      <input type="submit" value="비공개 글 보이기">
    </form>
  {% for article in articles %}
  <li>
    <a href="{% url "articles:detail" article.pk %}">{{article.pk}}번째 글</a>
    <p>{{ article.title}}</p>
    <p>{{ article.is_hidden}}</p>
    <hr>
  </li>
  {% endfor %}
</ul>

{% endblock content %}